## Settings file was created by plugin Dark REPO v1.3
## Plugin GUID: Linkoid.Repo.DarkRepo

[General]

## General environment brightness
# Setting type: Single
# Default value: 0.4
# Acceptable value range: From 0,01 to 2
AmbientFactor = 0.4

## Dynamic lighting intensity
# Setting type: Single
# Default value: 0.45
# Acceptable value range: From 0,01 to 2
LightFactor = 0.45

## Glowing texture intensity
# Setting type: Single
# Default value: 0.85
# Acceptable value range: From 0,01 to 2
EmissiveFactor = 0.85

## Flashlight intensity
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0,01 to 8
FlashlightFactor = 2

[Levels]

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
MainMenu = 0

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
LobbyMenu = 0

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
ServiceStation = 0

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
Truck = 0

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
DisposalArena = 0

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
HeadmanManor = 0

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
McJannekStation = 0

## <-- Darker | 0 = Use General Settings | Lighter --> | 1 = Game Default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0,99 to 2
SwiftbroomAcademy = 0

