## Settings file was created by plugin loaforcsSoundAPI v2.0.5
## Plugin GUID: me.loaforc.soundapi

[Developer]

## While true SoundAPI will generate a json and markdown file per session that records information SoundAPI and related mods find.
# Setting type: Boolean
# Default value: false
GenerateReports = false

[InternalDebugging]

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
AudioSourceAdditionalData = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
SoundReplacementLoader = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
SoundReplacementHandler = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
MatchStrings = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
ConditionsInfo = false

## Enable/Disable this DebugLogSource. Should only be true if you know what you are doing or have been asked to.
# Setting type: Boolean
# Default value: false
UpdateEveryFrame = false

